@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

/* make html flex in order to center body */
html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #2c3e50;
    width: 80%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    color: #e74c3c;
    font-size: 2em;
    
}

header > img {
    width: 30%;
}

